body{
background: linear-gradient(to right,#ff9a9e,#fad0c4);
font-family: cursive;
margin:0;
}

.center{
text-align:center;
padding-top:80px;
}

button{
padding:15px 30px;
font-size:18px;
border:none;
border-radius:20px;
background:#ff4d6d;
color:white;
cursor:pointer;
}

.card-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.card{
width:300px;
height:180px;
perspective:1000px;
}

.card-inner{
width:100%;
height:100%;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.card:hover .card-inner{
transform: rotateY(180deg);
}

.card-front, .card-back{
position:absolute;
width:100%;
height:100%;
backface-visibility:hidden;
border-radius:20px;
display:flex;
align-items:center;
justify-content:center;
flex-direction:row;
gap:15px;
padding:10px;
background:white;
}

.card-back{
transform: rotateY(180deg);
background:#ffd6e0;
}

.sidegif{
width:80px;
height:80px;
}

.letter{
width:60%;
margin:auto;
font-size:20px;
background:white;
padding:20px;
border-radius:20px;
}

#catcher{
position:fixed;
bottom:40px;
font-size:80px;
left:50%;
transform:translateX(-50%);
}

.heart{
position:fixed;
font-size:50px;
}

.roseimg{
width:250px;
margin-top:20px;
}

.calligraphy{
font-family:"Brush Script MT",cursive;
font-size:40px;
}
