body{
background:#fff0f5;
font-family: 'Comic Sans MS';
text-align:center;
overflow-x:hidden;
}

button{
padding:12px 25px;
border:none;
background:#ff4d6d;
color:white;
border-radius:20px;
cursor:pointer;
margin-top:20px;
}

.center-box{
margin-top:150px;
}

.flip-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.flip-card{
width:200px;
height:150px;
perspective:1000px;
}

.flip-inner{
width:100%;
height:100%;
transition:0.6s;
transform-style:preserve-3d;
}

.flip-card:hover .flip-inner{
transform:rotateY(180deg);
}

.flip-front,.flip-back{
position:absolute;
width:100%;
height:100%;
backface-visibility:hidden;
border-radius:15px;
display:flex;
align-items:center;
justify-content:center;
background:white;
box-shadow:0 0 10px pink;
}

.flip-back{
transform:rotateY(180deg);
padding:10px;
}

.side-gif{
width:120px;
}

.letter-box{
width:60%;
margin:auto;
margin-top:100px;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 0 15px pink;
}

.heart{
position:absolute;
top:-20px;
width:25px;
height:25px;
background:red;
transform:rotate(45deg);
animation:fall 3s linear;
}

.heart::before,
.heart::after{
content:"";
position:absolute;
width:25px;
height:25px;
background:red;
border-radius:50%;
}

.heart::before{
top:-12px;
left:0;
}

.heart::after{
left:-12px;
top:0;
}

@keyframes fall{
to{ top:100vh; }
}

.rose-img{
width:250px;
}

.calligraphy{
font-size:40px;
font-family:cursive;
margin-top:200px;
}

.thank-gif{
width:200px;
}
